html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: lightgreen;
}

body{
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 2fr) minmax(100px, 1fr);
    grid-template-rows: minmax(25px, 50px) minmax(100px, 3fr) minmax(25px, 50px);
    grid-template-areas: 
    "header header header"
    "gallery gallery controller"
    ". footer .";
    ;
    gap: .5rem;
    @media (width < 768px) {
        grid-template-rows: 40px repeat(2,minmax(100px, 1fr)) 40px ;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header "
            "gallery "
            "controller "
            "footer ";
        ;
    }
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ________________________________________________________________________ */
.btn{
    width: calc(100% - 2rem);
    max-width: 300px;
    padding: .3rem;
    background: lightgreen ;
    border: none ;
    border-radius: 999rem;
    color: #333 ;
    transition:
        box-shadow .4s ease-in-out,
        background .2s ease-in-out,
        color .2s ease-in-out;
}
.btn:hover{box-shadow:0 0 .4rem .03rem rgb(144, 238, 144);}
.btn--outline, .btn:hover{
    background: none;
    border: lightgreen solid 1px;
    color: lightgreen;
}
.btn--outline:hover{
    background: lightgreen;
    color: #333;
}
/* ________________________________________________________________________ */
header{
    grid-area: header;
    background: radial-gradient(circle at center, #333, #222);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(.4rem + 1vw);
    
    
}
/* ________________________________________________________________________ */
.gallery{
    grid-area: gallery;
    background-color: #333;
    position: relative;
    border: lightgreen solid 1px;
    border-radius: 1rem;
    padding: .8vw;
    border-right: none;
}
.gallery__pics-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1vw;
    
}
.gallery__counter{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: .5rem;
    background: #333;
    color: lightgreen;
    border: lightgreen solid 1px;
    box-shadow: 0 0 .4rem .02rem lightgreen;
    border-radius: .4rem;
    margin: 1rem 1.5rem;
}
.gallery__pics-container::-webkit-scrollbar{
    width: .3rem;
    background: rgba(0, 0, 0, .3);
}
.gallery__pics-container::-webkit-scrollbar-thumb{
    padding: .2rem;
    background-color: lightgreen;
    border-radius: 999rem;
    
}
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    border-radius: 1rem;
    box-shadow: 0 0 1rem .2rem #222;
    background: #222;
    opacity: 1;
    transition: all 1s ease-in-out;
    animation: breathe 2s linear infinite;
}
/* ________________________________________________________________________ */
.controller{
    grid-area: controller;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: lightgreen solid 1px;
    border-radius: 1rem;
}
.controller__title{
    margin: .2rem 0;
    @media screen and (width < 768px) {
        font-size: calc(4vw + .2rem);
    }
}
.controller__cols-manager{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media screen and (width < 768px) {height: auto;}
}
.controller__input{
    font-size: 1.5rem;
    text-align: center;
    margin: 0 calc(1vw - .5rem);
    border-radius: .5rem;
}
.controller__separator{
    width: calc(100% - 2rem);
    height: 1px;
    background-color: lightgreen;
    border: none;
    @media screen and (width < 1440px) {display: none;}
}
.controller__topic{
    box-sizing: border-box;
    padding: 0 .4rem;
    width: calc(100% - 2vw);
    max-width: 200px;
    margin: .5rem;
    border-radius: .5rem;
}



/* ________________________________________________________________________ */
.footer{
    grid-area: footer;
    background: radial-gradient(circle at center, #333, #222);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__btn{
    font-size: .8rem;
    font-weight: bold;
}
.footer__dialog{
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    width: auto;
    height: auto;    
    background-color: rgba(0, 0, 0, 0);
}
.dialog-container{
    background: #333;
    color: lightgreen;
    border: lightgreen solid 1px;
    padding: .5rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 1rem;
    transition: all -5s ease-in-out;
    height: 100%;
}
.dialog-container::before{
    content: '';
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
}
.footer__description{
    font-size: .8rem;
    text-align: center;
}


/* animations */
@keyframes breathe {
    0%,100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.01);
    }
  }



